<h1 class="page-header"><%= t('labels.coupon_discount') %></h1>

<% if @qrcode.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <ul>
      <% @qrcode.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <%= action %>
      </div>

      <div class="panel-body">
        <div class="col-lg-6">
          <%= form_for([:backoffice, @qrcode]) do |f| %>

            <div class="form-group">
              <label><%= t('labels.client') %></label>
              <%= f.text_field :client, class:"form-control", id:"client",
              placeholder: t('placeholders.john') %>
            </div>

            <div class="form-group">
              <label><%= t('labels.days_validity') %></label>
              <%= f.text_field :validity, class:"form-control", id:"validity",
              placeholder: 'Ex: 07' %>
            </div>

            <div class="form-group">
              <label><%= t('labels.value_discount_or_percent') %></label>
              <%= f.text_field :value, class:"form-control", id:"value",
              placeholder: 'Ex: 10%' %>
            </div>

            <div class="form-group hidden">
              <label><%= t('labels.date_time') %></label>
              <%= f.text_field :date_time, class:"form-control", id:"date_time",
              value:DateTime.now() %>
            </div>

            <div class="form-group hidden">
              <label>Token</label>
              <%= f.text_field :token, id:"token", class:"form-control" %>
            </div>

            <div class="form-group hidden">
              <label>Caminho onde será salvo</label>
              <%= f.text_field :img_path, class:"form-control" %>
            </div>

            <% if @qrcode.id != nil %>
              <%= link_to t('buttons.generate'), backoffice_generate_path(@qrcode.id),
              class:"btn btn-info btn-space"%>
            <% else %>
              <span class="btn btn-info cursor_not_allower btn-space"><%= t('buttons.generate') %></span>
            <% end %>

            <button type="submit" id="generate_token" class="btn btn-primary btn-space"><%= t('buttons.save') %></button>

            <%= link_to backoffice_qrcodes_path,
              class:"btn btn-outline btn-danger btn-space" do%>
              <%= t('buttons.cancel') %>
            <% end %>
          <% end %>

        </div>
        <div class="row center">
          <div class="col-lg-6">
            <div class="well qrcode-panel">
              <% if @qrcode.id != nil && @qrcode.img_path != ""%>
                <%= image_tag @qrcode.img_path, class: "img_qrcode" %>
                <div class="row center">
                  <%= link_to "download", backoffice_qr_code_path(@qrcode.id),
                                                  class: "btn btn-primary btn-space" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
