<div class="card card-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <img id="profile-img" class="profile-img-card" src="/images/logo.png" />
    <p id="profile-name" class="profile-name-card"></p>

    <span id="reauth-email" class="reauth-email"></span>

    <%= f.email_field :email, id:"inputEmail", class:"form-control",
                              placeholder:t("placeholders.email_address"), autofocus: true %>

    <%= f.password_field :password, autocomplete: "off", id:"inputPassword",
                          class:"form-control", placeholder:t("placeholders.password") %>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label t("buttons.remember_me") %>
      </div>
    <% end -%>

    <%= f.submit t("buttons.enter"),
            class:"btn btn-login btn-lg btn-primary btn-block btn-signin" %>
  <% end %>
</div><!-- /card-container -->
